<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <i class="bi bi-spotify me-2"></i>
        Spotify Clone
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/artists" routerLinkActive="active">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/albums" routerLinkActive="active">Albums</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated$ | async">
            <a class="nav-link" routerLink="/playlists" routerLinkActive="active">My Playlists</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <ng-container *ngIf="(isAuthenticated$ | async); else notLoggedIn">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);" (click)="logout()">Logout</a>
            </li>
          </ng-container>
          <ng-template #notLoggedIn>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>